<% include ../partials/header %>

<h1>Your hypoglycemia risk is <%= hyporisk %></h1>

<h1>Your Lowest Reading in the past 24 hours</h1>
<p id="low-sugar"><%= lowsugar %></p>

<h1>Your Highest Reading in the past 24 hours</h1>
<p id="low-sugar"><%= highsugar %></p>

<h1>Your Average Reading in the past 24 hours</h1>
<p id="low-sugar"><%= sugarsum %></p>



<ul>
  <% for(let i = 0; i < values.egvs.length; i++) { %>
    <li><span class="values"><%= values.egvs[i].value %></span> || <span class="display-time"><%= values.egvs[i].displayTime %></span></li>
  <% } %>

</ul>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script>
  let displayTime = document.querySelectorAll('.display-time')
  console.log(moment)
  for(let i = 0; i < displayTime.length; i++) {
    displayTime[i].innerHTML = moment(displayTime[i].innerText).format('h:mmA on MM-DD-YYYY')
  }
</script>
<% include ../partials/footer %>
