<% include ../partials/header %>


<div class="loader-bg">
   <p>loading....</p>
</div>
<div class="container initial">
  <div style="text-align: right;">
      <a href="/" class="logout">Logout</a>
  </div>

  <p>Keep your unique link private.</p>
  <h1><%= daysViewingEl %></h1>
  <div class="selection">
    <span><strong>Select A Range</strong></span>
    <ul class="date-selectors">
      <li><a class="timeline-link" href="1">One Day</a></li>
      <li><a class="timeline-link" href="2">Two Days</a></li>
      <li><a class="timeline-link" href="3">Three Days</a></li>
      <li><a class="timeline-link" href="7">One Week</a></li>
      <li><a class="timeline-link" href="14">Two Weeks</a></li>
      <li><a class="timeline-link" href="21">Three Weeks</a></li>
      <li><a class="timeline-link" href="30">One Month</a></li>
      <li><a class="timeline-link" href="60">Two Months</a></li>
      <li><a class="timeline-link" href="90">Three Months</a></li>
    </ul>
  </div>
  <ul>
    <li>Time spent below range: <%= belowRange %> </li>
    <li>Time spent in range: <%= inRange %></li>
    <li>Time spent above range: <%= aboveRange %></li>
    <li>Your estimated A1c is <%= estA1c %> </li>
  </ul>
</div>

<div class="cards-parent-outer-most">
  <div class="cards-parent">

    <div class="cards">
      <p class="reading"><%= lowsugar %></p>
      <h4>LOWEST READING</h4>
    </div>

    <div class="cards">
      <p class="reading"><%= highsugar %></p>
      <h4>HIGHEST READING</h4>
    </div>

    <div class="cards">
      <p class="reading"><%= sugarsum %></p>
      <h4>AVERAGE READING</h4>
    </div>

  </div>
</div>

<div class="container">
  <div style="text-align: center;">
    <h1>
      Your hypoglycemia risk is <span style="text-decoration: underline;"><%= hyporisk %></span>
    </h1>
  </div>
  <canvas id="myChart"></canvas>
  <ul>
    <% for(let i = 0; i < values.egvs.length; i++) { %>
    <li>
      <span class="values"><%= values.egvs[i].value %></span> ||
      <span class="display-time"><%= values.egvs[i].displayTime %></span>
    </li>
    <% } %>
  </ul>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script>

  window.onload = function() {
    document.querySelector('.loader-bg').classList.add("removed")
  }
  let displayTime = document.querySelectorAll(".display-time");
  let disp = [];
  for (let i = 0; i < displayTime.length; i++) {
    displayTime[i].innerHTML = moment(displayTime[i].innerText).format(
      "h:mmA on MM-DD-YYYY"
    );
    disp.push(displayTime[i].innerHTML )
  }



  let ctx = document.getElementById('myChart').getContext('2d');
  let values = document.querySelectorAll('.values')
  let allValues = [];

  for(let d = 0; d < values.length; d++) {
    allValues.push(Number(values[d].innerText));
  }

  let myChart = new Chart(ctx, {
    type: 'line',
    responsive: false,
    data: {
      labels: disp.reverse(),
        datasets: [{
            label: 'mg/dL',
            data: allValues.reverse(),
            backgroundColor: 'rgba(54, 162, 235, 1)',
            borderWidth: 0.4
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        },
        pointHoverRadius: 14
    }
});


let dateSelection = document.querySelectorAll('.timeline-link')
let base = window.location.href;
let cleanUrl = base.split("&startDate")[0]
if(!base.split("startDate=")[1]) {
  window.location.replace(cleanUrl+"&startDate=1")
}

if(base.split("startDate=")[1]) {
  for(let i = 0; i < dateSelection.length; i++) {
    if(dateSelection[i].getAttribute('href') === base.split("&startDate=")[1]) {
      dateSelection[i].classList.add("active")
    }
  }
}


const sendOffDest = event => {
  event.preventDefault();
  let activeLink = event.currentTarget;
  let activeUrl = activeLink.getAttribute('href');
  window.location.replace(cleanUrl+"&startDate="+activeUrl)
}


for(let i = 0; i < dateSelection.length; i++) {
  dateSelection[i].addEventListener('click', event => sendOffDest(event))
}

  let sc_project=12049197; 
  let sc_invisible=0; 
  let sc_security="15b8a60f"; 
  let scJsHost = "https://";
  document.write("<sc"+"ript type='text/javascript' src='" +
  scJsHost+
  "statcounter.com/counter/counter.js'></"+"script>");
  </script>
  <noscript><div class="statcounter"><a title="Web Analytics"
  href="https://statcounter.com/" target="_blank"><img
  class="statcounter"
  src="https://c.statcounter.com/12049197/0/15b8a60f/0/"
  alt="Web Analytics"></a></div></noscript>
  <!-- End of Statcounter Code -->

</script>
<% include ../partials/footer %>
